APP_NAME=LogiKlu Rest API
APP_ENV=local
APP_DEBUG=true
API_VERSION=v1

MASTER_DB_HOST=localhost
MASTER_DB_PORT=3306
MASTER_DB_NAME=MASTER_DB_HOST
MASTER_DB_USER=MASTER_DB_USER
MASTER_DB_PASSWORD=MASTER_DB_PASSWORD

API_AUTH_ENABLED=true
API_SIGNATURE_REQUIRED=false

ALLOWED_ORIGINS=*

JWT_SECRET_KEY=f78f924a79dce63b5fcc72e168ce6d534204a9057fe50c3f8d225c6f1db96b58
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_SECONDS=900
JWT_ISSUER=logiklu-focus-api
JWT_AUDIENCE=cognitive-ai,cognitive-ai-sandbox,cognitive-ai-local