APP_NAME=LogiKlu Focus Agent API
APP_ENV=local
APP_DEBUG=true
API_VERSION=v1

MASTER_DB_HOST=localhost
MASTER_DB_PORT=3306
MASTER_DB_NAME=logiklu0_leadactuator
MASTER_DB_USER=logiklu0_global
MASTER_DB_PASSWORD=e[[U6Js,MP%O

API_AUTH_ENABLED=true
API_SIGNATURE_REQUIRED=false

ALLOWED_ORIGINS=*